.container {}

#refresh-form {
    display: block;
    width: fit-content;
    margin: 30px auto;
}

#refresh-form input {
    width: 400px;
    padding: 11px;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

#refresh-form input#endpoint {
    display: block;
    width: calc(100% - 24px);
    margin-bottom: 10px;
}

#refresh-form button {
    padding: 15px 32px;
    background-color: #7312ce;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

#doc {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

#doc a {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

#myChart {
    width: 1000px;
    height: 400px;
    margin: auto;
}